.btn-collapse {
    color: #000;
    font-size: 24px;
}

.header-wp {
    box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.1);
    position: relative;

    .menu-profile {
        position: absolute;
        background-color: #fff;
        box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.1);
        // padding: 8px;
        border-radius: 8px;
        // top: 80px;
        right: 20px;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        top: 20px;
        transition: all .32s;

        &.active {
            opacity: 1;
            visibility: visible;
            top: 80px;
            z-index: 9;
        }

        .title-menu {
            padding: 6px 28px;
            text-align: center;
            cursor: pointer;

            // &:hover {
            //     background-color: rgba($color: $c-primary, $alpha: 0.3);
            // }
        }
    }

    .profile-wp {
        color: #000;
        display: flex;
        align-items: center;
        cursor: pointer;
        
        .img-wp {
            width: 40px;
            height: 40px;
            position: relative;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
    }
}